html, body {
    height: 100%;
    margin: 0;
}

body 
{
    color: #212121;
    font-size: 16px;
    font-family: "RobotoDraft",Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 24px;
}

core-header-panel {
    height: 100%;
}

core-toolbar
{
    background-color: #039be5;
}

.header-title {
    color: #fff;
}

.header-title h2 
{
    font-size: 24px;
    font-weight: 400;
}

aside 
{
    text-align: center;
    background-color: #fff;
    box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2);
}

aside core-toolbar 
{
    background-color: #fff;
}

aside .logo
{
    margin-top: 16px;
}

aside section 
{
    padding-left: 16px;
}

aside section core-item:hover 
{
    border-radius: 3px;
    background-color: #eee;
}

article.container 
{
    padding: 8px;
}

.space 
{
    clear: both;
    height: 72px;
}

.search-box 
{
    border: 1px solid #ddd;
    border-radius: 3px;
    padding-left: 8px;
    margin: 16px 8px;
}

paper-fab
{
    position: fixed;
    bottom: 16px;
    right: 48px;
    background-color: #ffeb3b;
    color: #212121;
}

.navigator
{
    padding: 8px;
}

.right 
{
    float: right;
}

.left
{
    float: left;
}