html, body {
    height: 100%;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: "RobotoDraft",Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 24px;
    background-color: #F9F9F9;
}

.center-screen
{
    margin: 0 auto;
}

.right
{
    float: right;
}

.clear
{
    clear: both;
}

header
{
    padding: 0 32px;
    display: flex;
    position: relative;
    flex-direction: row;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    background-color: #fff;
}

.header-menu
{
    margin-top: 32px;
}

aside
{
    padding: 16px;
    background-color: #fff;
}

aside .item
{
    margin: 8px 0;
}

.aside-sign-up
{
    margin-bottom: 16px;
}

.btn-login 
{
    width: 120px;
}

.btn-login a
{
    text-decoration: none;
    color: #212121;
}

.btn-sign-up
{
    width: 100%;
    background-color: #03a9f4;
    color: #fff;
    margin: 0;
}

.btn-sign-up a
{
    text-decoration: none;
    color: #fff;
}

.btn-sign-up,
.btn-login 
{
    height: 47px;
}

.aside-list
{
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
}

.aside-info 
{
    text-align: center;
    padding: 16px 0;
    background-color: #039be5;
    color: #fff;
    font-weight: 400;
    border-radius: 3px;
}

.aside-about
{
    position: absolute;
    bottom: 32px;
}

.aside-about a 
{
    text-decoration: none;
    color: #212121;
}

.aside-list li
{
    line-height: 48px;
    border-top: 1px solid #673ab7;
    text-align: center;
}

.aside-list li a
{
    text-decoration: none;
    color: #212121;
}

.container 
{
    width: 980px;
    margin: 16px auto;
}

footer 
{
    height: 100px;
    padding-top: 32px;
    background-color: #03a9f4;
}

.social
{
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.social a 
{
    text-decoration: none;
}

.copyright
{
    color: #fff;
    font-size: 12px;
    text-align: center;
}