html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "RobotoDraft",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    background-color: #F9F9F9;
}

.center-screen
{
    margin: 0 auto;
}

.right
{
    float: right;
}

.clear
{
    clear: both;
}

header
{
    
    position: relative;
    display: flex;
    padding: 0 32px;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.header-menu
{
    margin-top: 32px;
}

aside
{
    padding: 16px;
    background-color: #fff;
}

aside .item
{
    margin: 8px 0;
}

.aside-sign-up
{
    margin-bottom: 16px;
}

.btn-login 
{
    width: 120px;
}

.btn-sign-up
{
    width: 100%;
    margin: 0;
    color: #fff;
    background-color: #03a9f4;
}

.btn-sign-up a
{
    color: #fff;
    text-decoration: none;
}

.btn-sign-up,
.btn-login 
{
    height: 47px;
}

.aside-list
{
    padding: 0;
    margin: 0;
    list-style: outside none none;
}

.aside-info 
{
    
    padding: 16px 0;
    font-weight: 400;
    color: #fff;
    text-align: center;
    background-color: #039be5;
    border-radius: 3px;
}

.aside-about
{
    position: absolute;
    bottom: 32px;
}

.btn-login a,
.aside-about a,
.aside-list li a
{
    color: #212121;
    text-decoration: none;
}

.aside-list li
{
    line-height: 48px;
    text-align: center;
    border-top: 1px solid #673ab7;
}

.container 
{
    margin: 16px auto;
}

footer 
{
    height: 130px;
    padding-top: 32px;
    background-color: #03a9f4;
}

.social
{
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.social a 
{
    text-decoration: none;
}

.copyright
{
    margin-top: 16px;
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.btn-shopping-cart
{
    position: fixed;
    right: 8%;
    bottom: 8%;
    background-color: rgb(255, 64, 129);
}

.line
{
    font-weight: 400;
    border-top: 2px solid #03a9f4;
}

.line span
{
    padding: 8px;
    line-height: 1.75em;
    color: #fff;
    background-color: #03a9f4;
}

.search-box 
{
    padding-left: 8px;
    margin-top: 19px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

@media(max-width: 991px)
{
    .div-manufacturer,
    .div-category
    {
        display: none;
    }
}