.update-content 
{
    margin: 16px auto;
    width: 640px;
}

.update-textfield 
{
}

.update-cell
{
    width: 100%;
    display: flex;
}

.update-cell paper-input-decorator
{
    width: 100%;
}

.update-checkbox
{
    width: 150px;
    margin: 16px 0;
}

paper-checkbox #checkbox.checked {
  background-color: #ff4081;
  border-color: #ff4081;
}

.update-accept-button
{
    color: #039BE5;
}

.update-buttons
{
    float: right;
    margin-bottom: 16px;
}

@media (max-width: 480px) 
{
    .update-content 
    {
        width: 90%;
    }
}