.update-content 
{
    margin: 16px auto;
    width: 640px;
}

.update-textfield 
{
    display: flex;
}

.update-cell
{
    width: 100%;
}

.update-cell:first-child
{
    margin-right: 8px;
}

.update-cell:last-child
{
    margin-left: 8px;
}

.update-checkbox
{
    width: 150px;
    margin: 8px 0;
}

@media (max-width: 480px) 
{
    .update-content 
    {
        width: 90%;
    }
    
    .update-textfield 
    {
        display: block;
    }

    .update-cell > div:first-child
    {
        margin-right: 0;
    }

    .update-cell > div:last-child
    {
        margin-left: 0;
    }
}