.list-products
{
    overflow: hidden;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.product-image
{
    text-align: center;
    background-color: #fff;
}


.product-image img
{
    width: 190px;
    height: 190px;
}

.product-details
{
    margin: 8px;
    width: 190px;
    float: left;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.product-details:hover
{
    background-color: #039BE5;
    cursor: pointer;
}

.product-details:hover h4 
{
    color: #fff !important;
}

h4 
{
    font-weight: 400;
    font-size: 12px;
    margin: 0 16px;
}

.product-manufacturer
{
    color: rgb(3, 155, 229);
    font-size: 16px;
    margin: 8px 0;
    text-align: center;
}

.product-name
{
    font-size: 13px;
    line-height: 2em;
    white-space: nowrap;
    overflow: hidden;
}

.product-paging 
{
    margin-left: 8px;
    padding: 8px 16px;
    background-color: #039be5;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    text-align: center;
    position: fixed;
    bottom: 16;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

paper-dialog 
{
    width: 250px;
}

paper-dialog core-icon-button 
{
    float: right;
    background-color: #ff4081;
    color: rgb(255, 255, 255);
}

paper-dialog paper-input 
{
    width: 100%;
}

paper-fab
{
    position: fixed;
    bottom: 16px;
    right: 48px;
    background-color: #ffeb3b;
    color: #212121;
}

.product-info 
{
    margin-bottom: 8px;
}

@media (max-width: 428px)
{
    .product-details
    {
        width: 90%;
    }
    
    paper-fab
    {
        right: 16px;
    }
}