.list-products
{
    overflow: hidden;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.title 
{
    text-align: center;
    font-weight: 400;
    border-bottom: 1px solid #3F51B5;
    padding-bottom: 16px;
    color: #FF4081;
    margin-top: 48px;
}

.new 
{
    float: right;
    width: 50px;
}

.btn-details 
{
    float: right;
    background-color: #009688;
    padding: 0 8px;
    color: #fff;
    font-weight: 400;
    border-radius: 3px;
}

.product-details
{
    margin: 8px;
    width: 190px;
    float: left;
    border: 1px solid #e0e0e0;
}

.product-details:hover
{
    cursor: pointer;
    box-shadow: 0 1px 4px 0 rgba(3, 155, 229, 0.37);
}

h4 
{
    font-weight: 400;
    font-size: 12px;
    margin: 0 16px;
}

.product-manufacturer
{
    font-size: 12px;
    margin: 8px 0;
    text-align: center;
}

.product-name
{
    font-size: 16px;
    line-height: 2em;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(3, 155, 229);
}

.product-image
{
    text-align: center;
    background-color: #fff;
}


.product-image img
{
    width: 190px;
    height: 190px;
}

.product-price 
{
    padding: 8px 0;
    margin-bottom: 16px;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
}

@media(max-width: 880px)
{
    .content 
    {
        width: 100%;
        float: none;
    }
    
    .aside 
    {
        display: none;
    }
}