.container
{
    width: 350px;
    padding-bottom: 16px;
    margin: 32px auto;
    background-color: #FFF;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

h3
{
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 400;
    color: #03A9F4;    
}

.div-captcha
{
    margin-top: 16px;
    margin-bottom: 16px;
}

.div-captcha .g-recaptcha
{
    margin-top: 8px;
}

.dropdown
{
    position: absolute;
    max-height: 300px;
}

paper-dropdown-menu
{
    width: 100%;
}

paper-dropdown
{
    width: 100%;
}

paper-dropdown #scroller
{
    width: inherit !important;
}

paper-button a
{
    height: auto !important;
}

.day paper-item,
.month paper-item,
.year paper-item
{
    width: 60px !important;
    min-width: 2em !important;
}

.year .button-content
{
    padding: 0.9em 0.1em;
}

.city paper-item
{
    width: 275px;
}

.sign-up-calendar
{
    width: 100%;
    margin: 0 8px;
}

h5 
{
    margin-bottom: 0;
    font-size: 0.75em;
    font-weight: 400;
    color: #757575;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.error-status
{
    font-size: 16px;
    font-weight: 400;
    color: #f44336;
}

.done-button
{
    float: right;
    color: #fff;
    background-color: #ff4081;
}