.container
{
    position: relative;
    width: 275px;
    height: 300px;
    padding-top: 8px;
    margin: 72px auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

paper-input 
{
    width: 100%;
}

.btn-login-form
{
    position: absolute;
    right: 8px;
    color: #FFF;
    background-color: #FF4081;
}