h2
{
    font-size: 24px;
    font-weight: 400;
    color: #03a9f4;
}

article
{
    background-color: #fff;
    border: 1px solid #e0e0e0;
}

.content
{
    padding: 16px;
}

.category li
{
    line-height: 2.75em;
    list-style-type: none;
}

.category li a
{
    color: #212121;
}

.category li a:hover
{
    color: #2196f3;
    text-decoration: none;
}

.btn-details 
{
    float: right;
    padding: 0 8px;
    margin-top: -8px;
    font-weight: 400;
    line-height: 2em;
    color: #fff;
    background-color: #009688;
    border-radius: 3px;
}

.product-details
{
    margin: 8px;
    border: 1px solid #e0e0e0;
}

.product-details:hover
{
    cursor: pointer;
    box-shadow: 0 1px 4px 0 rgba(3, 155, 229, 0.37);
}

h4 
{
    margin: 0 16px;
    font-size: 12px;
    font-weight: 400;
}

.product-manufacturer
{
    margin: 8px 0;
    font-size: 12px;
    text-align: center;
}

.product-name
{
    overflow: hidden;
    font-size: 16px;
    line-height: 2em;
    color: rgb(3, 155, 229);
    white-space: nowrap;
}

.product-image
{
    text-align: center;
    background-color: #fff;
}


.product-image img
{
    width: 190px;
    height: 190px;
}

.product-price 
{   
    padding: 16px 0;
    margin-bottom: 16px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.div-paging
{
    width: 150px;
    padding: 8px 0;
    margin-top: 32px;
    color: #fff;
    text-align: center;
    background-color: #039be5;
    border-radius: 3px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}