.container
{
    width: 333px;
    margin: 32px auto;
    min-height: 380px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

paper-input 
{
    width: 100%;
}

.div-captcha 
{
    margin-top: 16px;
}

.btn-login-form
{
    margin-top: 16px;
    float: right;
    background-color: #ff4081;
    color: #fff;
}