h2
{
    color: #03a9f4;
    font-size: 24px;
    font-weight: 400;
}

article
{
    background-color: #fff;
    border: 1px solid #e0e0e0;
}

.content
{
    padding: 16px;
}

.manufacturers li
{
    line-height: 2.75em;
    list-style-type: none;
}

.manufacturers li a
{
    color: #212121;
}

.manufacturers li a:hover
{
    color: #2196f3;
    text-decoration: none;
}

.category-element
{
    height: 32px;
    line-height: 2.2em;
    list-style-type: none;
}

.category-element:hover
{
    color: #03a9f4;
    cursor: pointer;
}

@media(max-width: 991px)
{
    .category-element
    {
        height: 72px;
        line-height: 5em;
    }   
}