.container
{
    width: 300px;
    margin: 32px auto;
}

h3
{
    color: #03A9F4;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 16px;
}

.div-captcha
{
    margin-top: 16px;
    margin-bottom: 16px;
}

.div-captcha .g-recaptcha
{
    margin-top: 8px;
}

paper-dropdown-menu
{
    width: 100%;
}

paper-dropdown
{
    width: 100%;
}

paper-dropdown #scroller
{
    width: inherit !important;
}

.day paper-item,
.month paper-item,
.year paper-item
{
    width: 60px !important;
    min-width: 2em !important;
}

.year .button-content
{
    padding: 0.9em 0.1em;
}

.city paper-item
{
    width: 275px;
}

.sign-up-calendar
{
    width: 100%;
    margin: 0 8px;
}

h5 
{
    margin-bottom: 0;
    font-weight: 400;
    text-overflow: ellipsis;
    color: #757575;
    font-size: 0.75em;
    white-space: nowrap;
}